{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block body %}
<div class="row d-flex justify-content-center align-items-center" id="bg-sdc" style="min-height: 100vh">
    <div class="row" style="height: 59px;">
    </div>
    <div class="col-12 d-flex align-items-end" style="height: calc(100vh-59px) !important;">
        <div class="card bg-transparent d-flex justify-content-md-center border-0" style="width: 40rem;">
                <h1 class="card-title display-1 text-light">Hello {{request.user.fname}}!</h1>
            <img class="img-fluid" src="{% static 'images/SunDevilsCornerLogo.png' %}" alt="Card image cap"
                style="">
            <div class="card-body d-flex justify-content-md-center align-items-center bg-transparent" style="background-color: rgba(0, 0, 0, 0.479) !important;">
                <h2 class="card-title text-light">Welcome to SunDevils Corner.<br>One-Stop Shop for you to get settled!</h2>
            </div>
        </div>
    </div>
</div>
{% endblock %}

        {% comment %} <div class="row d-flex align-items-end">
            <div class="container1" id='bg-overlay'>
                <img src="{% static 'images/SunDevilsCornerLogo.png' %}" alt="Logo" height="200px" />
                <h2>Welcome to SunDevils Corner.<br>One-Stop Shop for you to get settled!</h2>
            </div>
        </div> {% endcomment %}